body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (min-width: 768px) {
  .react-google-flight-datepicker .dialog-date-picker {
    left: -200px !important;
  }
}
